<h4 class="display-4">{{formTitle}}</h4>
<p class="lead">{{formSubtitle}}</p>

<form id="metadataField-form" style="padding: 1em" (ngSubmit)="onSubmit()" #form="ngForm" *ngIf="metadataField">
  <fieldset>

    <!-- name input -->
    <div class="form-group" [class.was-validated]="name.dirty || name.touched">
      <label class="control-label" for="name">Name</label>
      <input id="name" name="name" type="text" class="form-control" required
             [(ngModel)]="metadataField.name" #name="ngModel">
      <div class="invalid-feedback">The text is required</div>
    </div>

    <!-- type input -->
    <div class="form-group" [class.was-validated]="type.dirty || type.touched">
      <label class="control-label" for="type">Type</label>
      <input id="type" name="type" type="text" class="form-control" required
             [(ngModel)]="metadataField.type" #type="ngModel">
      <div class="invalid-feedback">The text is required</div>
    </div>

     <!-- category input -->
    <div class="form-group" [class.was-validated]="category.dirty || category.touched">
      <label class="control-label" for="type">Category</label>
      <input id="category" name="category" type="text" class="form-control" required
              [(ngModel)]="metadataField.category" #category="ngModel">
      <div class="invalid-feedback">The text is required</div>
    </div>

    <div class="form-group">
      <input id="includeStatistics" name="includeStatistics" type="checkbox" class="form-check-inline"
             [(ngModel)]="metadataField.includeStatistics" #includeStatistics="ngModel">
      <label class="form-check-label" for="includeStatistics">Include this field on statistics</label>
    </div>

    <!-- definedIn -->
    <div class="form-group" [class.was-validated]="definedIn.dirty || definedIn.touched" *ngIf="metadataField.definedAt">
      <label class="control-label" for="definedIn">Metadata Template</label>
      <select id="definedIn" name="definedIn" type="text" class="form-control" required
              [(ngModel)]="metadataField.definedAt" #definedIn="ngModel">
        <option *ngFor="let metadataTemplate of metadataTemplates" [value]="metadataTemplate">{{metadataTemplate.name}}</option>
      </select>
      <div class="invalid-feedback">The described By field is required</div>
    </div>

    <!-- Button -->
    <div class="form-group">
      <button id="submit" type="submit" class="btn btn-success pull-right" [disabled]="!form.form.valid">Submit</button>
    </div>

  </fieldset>
</form>
