<div class="card">
  <div class="card-header">
    <div class="card-title">
      <h4 style="text-align: center" i18n>Statistics</h4>
    </div>
  </div>
  <div class="card-body">
    <div class="mt-2 mb-2 row">
      <div *ngFor="let fieldStatistics of statistics.metadataStatistics" class="col-6 pr-1 pl-1">
        <table class="table table-bordered">
          <tr>
            <th colspan="4" class="table-info" style="text-align: center">
              {{fieldStatistics.metadataField}}
              <fa-icon class="ml-2 pull-right" [icon]="['fas', 'file-download']" style="cursor: pointer" (click)="downloadStatistics(fieldStatistics)"></fa-icon>
              <i class="ml-2 fa fa-pencil" *ngIf="authentication.isAdmin()" style="cursor: pointer" (click)="navigateFieldValues(fieldStatistics.metadataField)"></i>
            </th>
          </tr>
          <tr *ngIf="!fieldStatistics.simpleStatistic">
            <th #value style="width: 50%" i18n>Value</th>
            <th class="align-center" style="width: 12.5%">n<sub>i</sub></th>
            <th class="align-center" style="width: 12.5%">%</th>
            <th #globPerc class="align-center" style="width: 25%" i18n>Glob. %</th>
          </tr>
          <tr *ngIf="fieldStatistics.simpleStatistic">
            <th class="col-8" i18n>Statistic</th>
            <th class="col-4" i18n>Value</th>
          </tr>
          <tr *ngFor="let valueOccurrences of fieldStatistics.statistics.slice(0, 10)">
            <td>{{valueOccurrences.value}}</td>
            <td class="align-center">{{valueOccurrences.absoluteFreq}}</td>
            <td class="align-center" *ngIf="!fieldStatistics.simpleStatistic">{{valueOccurrences.relativeFreq}}</td>
            <td class="align-center" *ngIf="!fieldStatistics.simpleStatistic">{{valueOccurrences.globalRelativeFreq}}</td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>
