<h4>Sample</h4>
<p class="lead">Administer the samples</p>

<div class="row justify-content-between">
  <div class="col mb-3">
    <app-sample-search (emitResults)="showSearchResults($event)" [samples]="samples"></app-sample-search>
  </div>
</div>
<div class="card mb-1" *ngFor="let sample of samples">
  <div class="card-block row m-1 d-flex justify-content-center" *ngFor="let fragment of sample.textFragments">
    <div class="p-1 col-5">
      <p class="card-text" class="pull-right">{{fragment.beforeWord}}</p>
    </div>
    <div class="p-1 col-2 text-center">
      <a class="card-text " [ngbPopover]="popContent" triggers="mouseenter:mouseleave" container="body" (click)="openModal(sample)">{{fragment.word}}</a>
      <ng-template #popContent ><div [innerHTML]="sample.text" style="font-size: small"></div></ng-template>
    </div>
    <div class="p-1 col-5 ">
      <p class="card-text">{{fragment.afterWord}}</p>
    </div>
  </div>
</div>

<p i18n class="text-center">Showing {{samples?.length}} out of { totalSamples, plural,
  =1 {1 samples}
  other { {{totalSamples}} samples} }</p>

