<h4>Sample</h4>
<p class="lead">Administer the samples</p>

<div class="row justify-content-between">
  <div class="col mb-3">
    <app-sample-search (emitResults)="showSearchResults($event)" (emitStatistics)="receiveStatistics($event)" [samples]="samples"></app-sample-search>
  </div>
</div>
<div class="row mb-2 align-items-end justify-content-around">
  <span *ngIf="statistics" class="col text-secondary">{{statistics.occurrences}} occurrences in {{statistics.samples}} samples</span>
  <button *ngIf="statistics" class="col-2 btn btn-sm btn-info pull-right" (click)="openStatisticsModal()" >Statistics</button>
</div>
<div class="card mb-1" *ngFor="let sample of samples">
  <div class="card-block row m-1 d-flex justify-content-center" *ngFor="let fragment of sample.textFragments">
    <div class="p-1 col-5">
      <p class="card-text" class="pull-right">{{fragment.beforeWord}}</p>
    </div>
    <div class="p-1 col-2 text-center">
      <a class="card-text pointer" [ngbPopover]="popContent" triggers="mouseenter:mouseleave" container="body" (click)="openModal(sample)">{{fragment.word}}</a>
      <ng-template #popContent ><div [innerHTML]="sample.text" style="font-size: small"></div></ng-template>
    </div>
    <div class="p-1 col-5 ">
      <p class="card-text">{{fragment.afterWord}}</p>
    </div>
  </div>
</div>

<mat-paginator [length]="totalSamples"
               [pageIndex]="currentPage"
               [pageSize]="pageSize"
               [hidePageSize]="true"
               [showFirstLastButtons]="true"
               (page)="pageEvent = handlePagination($event)"
               *ngIf="samples.length > 0"
>
</mat-paginator>

