<h4>Sample</h4>
<p class="lead">Administer the samples</p>

<div class="row justify-content-between">
  <div class="col mb-3">
    <app-sample-search (emitResults)="showSearchResults($event)" (emitStatistics)="receiveStatistics($event)" [samples]="filteredSamplesByWord"></app-sample-search>
  </div>
</div>
<div class="row mb-2 align-items-center">
  <span *ngIf="statistics" class="col-4 text-secondary pull-left">{{statistics.occurrences}} occurrences in {{statistics.samples}} samples</span>
  <button *ngIf="statistics" class="offset-1 col-2 btn btn-sm btn-info" (click)="openStatisticsModal()" >Statistics</button>
  <mat-paginator [length]="totalSamples"
                 [pageIndex]="currentPage"
                 [pageSize]="pageSize"
                 [hidePageSize]="true"
                 [showFirstLastButtons]="true"
                 (page)="pageEvent = handlePagination($event)"
                 *ngIf="totalPages > 1"
                 class="col-5"
  >
  </mat-paginator>
</div>
<app-sample-word-list *ngIf="filteredSamplesByWord.length > 0" [samples]="filteredSamplesByWord"></app-sample-word-list>
<app-sample-simple-list *ngIf="filteredSamplesByMetadata.length > 0" [samples]="filteredSamplesByMetadata"></app-sample-simple-list>

<mat-paginator [length]="totalSamples"
               [pageIndex]="currentPage"
               [pageSize]="pageSize"
               [hidePageSize]="true"
               [showFirstLastButtons]="true"
               (page)="pageEvent = handlePagination($event)"
               *ngIf="totalPages > 1"
>
</mat-paginator>

