<div class="jumbotron">
  <h2>{{title}}</h2>
  <p>This is a Web application developed in the context of the research project
    <b>Processing and cataloging of a written corpus in ELE produced by Chinese students, ECCOTEELE</b> (FFI2016-80280-R)
    coordinated from Universitat de Lleida.</p>
  <p>The aim of this application is to facilitate developing and cataloging a corpus of texts produced by Chinese
    University students of Spanish as a foreign language (ELE).</p>
  <p>Source code available from GitHub:</p>
  <ul>
    <li><a href="https://github.com/rhizomik/TextAnnot">Client</a>: Angular application consuming server API.</li>
    <li><a href="https://github.com/rhizomik/TextAnnot-API">Server</a>: Spring Boot application providing REST API.</li>
  </ul>
  <h3>Contact</h3>
  <p><b>Project coordination</b>: Mª Ángeles Calero Fernández (macalero@filcef.udl.cat)</p>
  <h3>Support</h3>
  <div class="row">
    <div class="col-md-6 text-center">
      <img src="http://www.ciencia.gob.es/stfls/MICINN/AEI/ficheros/Imagen_Institucional/MCIU_Gob_Web_AEI.jpg"
           class="logo" alt="Spanish Government, Ministry of Science, Innovation and Universities"/>
    </div>
    <div class="col-md-6 text-center">
      <img src="http://ec.europa.eu/regional_policy/sources/graph/panneaux/logo_erdf.png"
           class="logo-bg" alt="European Union, European Regional Development Fund"/>
    </div>
  </div>
</div>
