<div class="jumbotron">
  <h2>{{title}}</h2>
  <p>This is a Web application developed in the context of the research project
    <b>Processing and cataloging of a written corpus in ELE produced by Chinese students, ECCOTEELE</b> (FFI2016-80280-R)
    coordinated from Universitat de Lleida.</p>
  <p>The aim of this application is to facilitate developing and cataloging a corpus of texts produced by Chinese
    University students of Spanish as a foreign language (ELE).</p>
  <p>Source code available from GitHub:</p>
  <ul>
    <li><a href="https://github.com/rhizomik/TextAnnot">Client</a>: Angular application consuming server API.</li>
    <li><a href="https://github.com/rhizomik/TextAnnot-API">Server</a>: Spring Boot application providing REST API.</li>
  </ul>
  <h3>Contact</h3>
  <p><b>Project coordination</b>: Mª Ángeles Calero Fernández (macalero@filcef.udl.cat)</p>
  <p><b>Software development</b>: <a href="http://rhizomik.net/~roberto/" target="_blank">Roberto García González</a></p>
</div>
