<div class="card">
  <div class="card-block" id="metadata-parent">
    <h4 class="card-title col-md-12 p-3" i18n>Sample</h4>

    <div class="p-3">
      <h5 class="card-subtitle" i18n>Text</h5>
      <div class="card mt-1">
        <p class="card-text p-3" [innerHTML]="sample.text"></p>
      </div>
    </div>

    <div class="p-3">
      <h5 class="card-subtitle" i18n>Metadata</h5>
      <div class="pt-2">
        <mat-expansion-panel *ngFor="let category of metadataValuesCategories">
          <mat-expansion-panel-header>
            <mat-panel-title>{{category}}</mat-panel-title>
          </mat-expansion-panel-header>
          <div *ngFor="let value of this.metadataValuesByCategory.get(category)">
            <b>{{value.fieldName}}</b>: <span>{{value.value}}</span>
          </div>
        </mat-expansion-panel>
      </div>
    </div>
    <div class="card-footer text-center">
      <button id="listBtn" type="button" (click)="closeModal()"
              class="btn btn-secondary mr-1" i18n>Back to List
      </button>
      <button id="annotBtn" type="button" [routerLink]="['annotations', sample.id]"
              class="btn btn-primary mr-1" *ngIf="isLoggedIn()" (click)="closeModal()" i18n>Annotate
      </button>
      <button id="editBtn" type="button" [routerLink]="['samples', sample.id, 'edit']"
              class="btn btn-success mr-1" *ngIf="isLoggedIn()" (click)="closeModal()" i18n>Edit
      </button>
    </div>
  </div>
</div>
