<div class="row m-2">
  <button class="btn btn-sm btn-outline-secondary offset-9 col-3" (click)="openMetadataModal()">Metadata</button>
</div>
<div class="container card">
  <div class="row m-2">
    <div id="text-container">
      <p id="underneath-text" [innerHTML]="highlightedText || sample?.text" (mouseup)="showSelectedText($event)"></p>
      <p id="text" (click)="selectAnnotation($event)" (mouseup)="showSelectedText($event)">{{sample?.text}}</p>
    </div>
  </div>
</div>
<div class="container card">
  <div class="row m-2">
    <div class="col-7">
      <app-annotation-new *ngIf="sample" [sample]="sample"></app-annotation-new>
    </div>
    <div class="col-5">
      <app-annotation-list *ngIf="sample" [sample]="sample"></app-annotation-list>
    </div>
  </div>
</div>
