::ng-deep span.annotation {
  background-color: yellow;
  color: yellow;
}

#text {
  z-index: 2;
  position: relative;
}

#text-container {
  position: relative;
  padding: 0;
}

#underneath-text {
  position: absolute;
  color: #fff;
  z-index: 1;
}
