<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">CINEAS</a>
  <button class="navbar-toggler" type="button" (click)="isCollapsed = !isCollapsed"
          [attr.aria-expanded]="!isCollapsed" aria-controls="navbarContent" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarContent" [ngbCollapse]="isCollapsed">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" [routerLinkActive]="'active'" [routerLinkActiveOptions]="{ exact: true }">
        <a class="nav-link" [routerLink]="['/about']" i18n><span class="fa fa-question-circle"></span> About</a>
      </li>
      <li class="nav-item" [routerLinkActive]="'active'" [routerLinkActiveOptions]="{ exact: true }">
        <a class="nav-link" [routerLink]="['/samples']" *ngIf="!isLoggedIn()" i18n>Corpus</a>
      </li>
      <li class="nav-item" ngbDropdown *ngIf="isLoggedIn()">
        <a class="nav-link dropdown-toggle" id="samplesDropdown" role="button"
           aria-haspopup="true" aria-expanded="false" ngbDropdownToggle i18n>Corpus</a>
        <div class="dropdown-menu" aria-labelledby="samplesDropdown" ngbDropdownMenu>
          <a class="dropdown-item" [routerLinkActive]="'active'" [routerLinkActiveOptions]="{ exact: true }"
             [routerLink]="['/samples']" i18n><span class="fa fa-list"></span> List</a>
          <a class="dropdown-item" [routerLinkActive]="'active'" [routerLinkActiveOptions]="{ exact: true }"
             [routerLink]="['/samples/new']" i18n><span class="fa fa-save"></span> New</a>
          <a class="dropdown-item" [routerLinkActive]="'active'" [routerLinkActiveOptions]="{ exact: true }"
             [routerLink]="['/samples/upload']" i18n><span class="fa fa-upload"></span> Upload</a>
        </div>
      </li>
      <li class="nav-item dropdown" *ngIf="isAdmin()" ngbDropdown>
        <a class="nav-link dropdown-toggle" id="adminDropdown" role="button"
           aria-haspopup="true" aria-expanded="false" ngbDropdownToggle i18n>Administration</a>
        <div class="dropdown-menu" aria-labelledby="adiminDropdown" ngbDropdownMenu>
          <a class="dropdown-item" [routerLinkActive]="'active'" [routerLinkActiveOptions]="{ exact: true }"
             [routerLink]="['/admins']" i18n><span class="fa fa-user"></span> Admins</a>
          <a class="dropdown-item" [routerLinkActive]="'active'" [routerLinkActiveOptions]="{ exact: true }"
             [routerLink]="['/linguists']" i18n><span class="fa fa-user"></span> Linguists</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" [routerLinkActive]="'active'" [routerLinkActiveOptions]="{ exact: true }"
             [routerLink]="['/metadataFields']" i18n><span class="fa fa-file-text"></span> Metadata</a>
          <div class="dropdown-divider"></div>
          <a href="" class="dropdown-item" [routerLinkActive]="'active'" [routerLinkActiveOptions]="{ exact: true }"
             [routerLink]="['/tags']" i18n><span class="fa fa-tag"></span>  Tags</a>
        </div>
      </li>
    </ul>
    <ul class="navbar-nav" app-login-navbar></ul>
  </div>
</nav>
