<h4 class="display-4">Tags Tree</h4>

<div class="card">
  <div class="card-block">
    <div class="m-3">
      <h6 *ngIf="!structure" class="text-muted center">No roots added</h6>
      <div *ngIf="structure">
        <div class="row ml-1 mt-3 mb-2">
          <input #filter type="text" class="form-control col-4" (keyup)="tree.treeModel.filterNodes(filter.value)" placeholder="Filter tags"/>
          <button id="editTagsBtn" type="button" class="btn btn-sm btn-outline-secondary ml-2" (click)="editTagsModal()">
            <i style="margin-right: .25em" class="fa fa-pencil"></i>Edit Tags
          </button>
        </div>
        <div class="ml-1">
          <tree-root #tree [nodes]="nodes" [options]="options">
            <tree-root [nodes]="nodes" [options]="options">
              <template #loadingTemplate>Loading, please hold....</template>
              <ng-template #treeNodeTemplate let-node let-index="index">
                <h6 class="mr-sm-2">{{ node.data.name }}</h6>
              </ng-template>
            </tree-root>
          </tree-root>
        </div>
      </div>
    </div>
  </div>
</div>
