<ul class="list-group" *ngIf="annotations.length > 0" [class.pre-scrollable]="annotations.length > sample.text.length/150" [ngStyle]="{height: 35*(sample.text.length/150)+'px'}">
  <li class="list-group-item list-group-item-action py-1" [ngClass]="{'active': annotation.active}" *ngFor="let annotation of filteredAnnotations" (click)="highlightAnnot(annotation)" style="cursor: pointer">
    <div class="row">
      <div class="col-8 text-truncate">
        {{sample.text.substring(annotation.start, annotation.end)}}
      </div>
      <div class="col-4 text-truncate" data-toggle="tooltip" data-placement="top" title="{{annotation.tag.name}}">{{annotation.tag.name}}</div>
    </div>
  </li>
  <div *ngIf="filteredAnnotations.length == 0">No annotations to show</div>
</ul>
<div class="m-1">
  <div class="d-inline align-middle ml-1" style="cursor: pointer" [ngbPopover]="popFilter" placement="bottom" autoClose="outside">
    <fa-icon [icon]="faFilter"></fa-icon>
  </div>
  <div class="d-inline pull-right">
    <button type="button" class="btn btn-sm btn-info" (click)="highlightAll()">Highlight all</button>
    <button type="button" class="btn btn-sm btn-secondary ml-1" (click)="highlightNone()">Highlight none</button>
  </div>
</div>

<ng-template #popFilter>
  <input type="text" class="form-control" placeholder="Search..." [(ngModel)]="searchText"
         (ngModelChange)="searchAnnot()">
  <tree-root [nodes]="tags" [options]="options">
    <template>Loading, please hold....</template>
    <ng-template let-node let-index="index">
      <h6 class="mr-sm-2">{{ node.data.name }}</h6>
    </ng-template>
  </tree-root>
</ng-template>
