<h4 class="display-4" i18n>User Profile</h4>

<div class="card mb-4">
  <div class="card-block">
    <h4 class="card-title col-md-12 p-3">{{user.id}}</h4>
    <div class="p-3">
      <h6 class="card-subtitle text-muted" i18n>Username</h6>
      <p class="card-text">{{user.id}}</p>
    </div>
    <div class="p-3">
      <h6 class="card-subtitle text-muted" i18n>E-Mail</h6>
      <p class="card-text"><a href="mailto:{{user.email}}">{{user.email}}</a></p>
    </div>
    <div class="p-3">
      <h6 class="card-subtitle text-muted" i18n>Role</h6>
      <p class="card-text">{{user.authorities[0]?.authority.split('_')[1]}}</p>
    </div>
    <div class="card-footer text-right">
      <button type="button" (click)="changeEmail()"
              class="btn m-1 btn-outline-info" i18n>Change Email
      </button>
      <button type="button" (click)="changePassword()"
              class="btn m-1 btn-outline-dark" i18n>Change Password
      </button>
    </div>
  </div>
</div>
