<div class="shadow p-3 bg-light rounded">
    <div class="row form-group">
      <div class="col-9">
        <input class="form-control mr-sm-2" type="text" i18n-placeholder placeholder="Search text" aria-label="Filter"
               [(ngModel)]="searchTerm"/>
      </div>
      <div class="col-3">
        <button class="btn btn-outline-info w-100" type="button" (click)="filter()" i18n>Search</button>
      </div>
    </div>
    <div class="form-group row">
      <div class="col-6">
        <h6 i18n>Filter Metadata</h6>
        <div class="form-row" *ngFor="let metadataField of fieldsMap | keyvalue">
          <div class="form-row w-100 mt-1" style="display: flex; align-items: center">
            <div class="col-5">
              <input matInput #fieldInput type="text" class="form-control" [value]="metadataField.key" disabled>
            </div>
            <div class="col-5">
              <input matInput #valueInput type="text" [ngModel]="metadataField.value" (ngModelChange)="fieldsMap.set(metadataField.key, $event)" class="form-control" i18n-placeholder placeholder="Metadata value" [matAutocomplete]="autoValues">
              <mat-autocomplete #autoValues="matAutocomplete">
                <mat-option *ngFor="let value of metadataValues[metadataField.key]" [value]="value">
                  <span>{{value}}</span>
                </mat-option>
              </mat-autocomplete>
            </div>
          </div>
        </div>
      </div>
      <div class="col-6">
        <h6 i18n>Filter Annotations</h6>
        <div class="row mt-1">
          <div class="col-4">
            <input #filterTags type="text" class="form-control" (keyup)="tree.treeModel.filterNodes(filterTags.value)" i18n-placeholder placeholder="Search tags"/>
            <div class="mt-2">
              <mat-chip-list>
                <mat-chip *ngFor="let tag of filteredTags; let i = index" [removable]="true">
                  <div class="w-100 align-content-around">
                    <span style="max-width: 30px; text-overflow: ellipsis">{{tag}}</span>
                    <i class="fa fa-close ml-1" style="cursor: pointer" (click)="deleteTag(i)"></i>
                  </div>
                </mat-chip>
              </mat-chip-list>
            </div>
          </div>
          <div class="col-8" style="max-height: 300px">
            <tree-root #tree [nodes]="tagNodes" [options]="options" (activate)="onTagSelected($event.node)"></tree-root>
          </div>
        </div>
      </div>
    </div>
</div>
