<div class="shadow p-3 bg-light rounded">
    <div class="row form-group">
      <div class="col-9">
        <input class="form-control mr-sm-2" type="text" i18n-placeholder placeholder="Search text" aria-label="Filter"
               [(ngModel)]="searchTerm"/>
      </div>
      <div class="col-3">
        <button class="btn btn-outline-info w-100" type="button" (click)="filter()" i18n>Search</button>
      </div>
    </div>
    <div class="form-group row">
      <div class="col-6">
        <h6 i18n>Filter Metadata</h6>
        <div class="form-row" *ngFor="let metadataField of filterFieldsByPrivacy(false) | keyvalue">
          <div class="form-row w-100 mt-1" style="display: flex; align-items: center">
            <div class="col-5">
              <input matInput type="text" class="form-control" [value]="metadataField.key" disabled>
            </div>
            <div class="col-7">
              <input type="text" class="form-control" [ngModel]="metadataField.value" [editable]="false"
                     [ngbTypeahead]="autocompleteField(metadataField.key)"
                     (focusout)="clearIfNothingSelected(metadataField.key, $event.target)"
                     (focus)="focusEvents[metadataField.key].next($event.target.value)"
                     (selectItem)="fieldsMap.set(metadataField.key, $event.item)"/>
            </div>
          </div>
        </div>
      </div>
      <div class="col-6">
        <span *ngIf="filterFieldsByPrivacy(true).size > 0">
          <h6 i18n="@@FilterMetatadaPrivateFields">Filter Metadata (Private Fields)</h6>
          <div class="form-row" *ngFor="let metadataField of filterFieldsByPrivacy(true) | keyvalue">
            <div class="form-row w-100 mt-1" style="display: flex; align-items: center">
              <div class="col-5">
                <input matInput type="text" class="form-control" [value]="metadataField.key" disabled>
              </div>
              <div class="col-7">
                <input type="text" class="form-control" [ngModel]="metadataField.value" [editable]="false"
                       [ngbTypeahead]="autocompleteField(metadataField.key)"
                       (focusout)="clearIfNothingSelected(metadataField.key, $event.target)"
                       (focus)="focusEvents[metadataField.key].next($event.target.value)"
                       (selectItem)="fieldsMap.set(metadataField.key, $event.item)"/>
              </div>
            </div>
          </div>
          <p>&nbsp;</p>
        </span>
        <h6 i18n>Filter Annotations</h6>
        <div class="row mt-1" *ngIf="isLoggedIn()">
          <div class="col-4">
            <input #filterTags type="text" class="form-control" (keyup)="tree.treeModel.filterNodes(filterTags.value)" i18n-placeholder placeholder="Search tags"/>
            <div class="mt-2">
              <mat-chip-list>
                <mat-chip *ngFor="let tag of filteredTags; let i = index" [removable]="true">
                  <div class="w-100 align-content-around">
                    <span style="max-width: 30px; text-overflow: ellipsis">{{tag.name}}</span>
                    <i class="fa fa-close ml-1" style="cursor: pointer" (click)="deleteTag(i)"></i>
                  </div>
                </mat-chip>
              </mat-chip-list>
            </div>
          </div>
          <div class="col-8" style="max-height: 300px">
            <tree-root #tree [nodes]="tagNodes" [options]="options" (activate)="onTagSelected($event.node)"></tree-root>
          </div>
        </div>
        <div class="mt-3" *ngIf="!isLoggedIn()">
          <p i18n>Annotations filter is currently only available for CINEAS staff, it will be soon open to everyone!</p>
        </div>
      </div>
    </div>
</div>
