<div class="jumbotron">
  <h3 i18n>TextAnnot - Written Corpus Annotation</h3>
  <p i18n>This is a Web application developed in the context of the research project
    <b>Processing and cataloging of a written corpus in ELE produced by Chinese students, ECCOTEELE</b> (FFI2016-80280-R)
    coordinated from Universitat de Lleida.</p>
  <p i18n>The aim of this application is to facilitate developing and cataloging a corpus of texts produced by Chinese
    University students of Spanish as a foreign language (ELE).</p>
  <p i18n="@@TextAnnotReference">Corpus managed and annotated using <a href="https://github.com/rhizomik/TextAnnot">TextAnnot</a>.</p>
  <h4 i18n>Contact</h4>
  <p i18n="@@ProjectCoordination"><b>Project coordination</b>: Mª Ángeles Calero Fernández (UdL)</p>
  <p i18n="@@ApplicationCoordination"><b>Application coordination</b>: Roberto García González (UdL)</p>
  <h4 i18n="@@HowToCite">How to Cite</h4>
  <p i18n="@@Citation">CALERO FERNÁNDEZ, Mª Ángeles et al. [online]. Corpus de Interlengua Española de Aprendices Sinohablantes. <https://cineas.udl.cat> [Date retrieved]</p>
  <h4 i18n>Support</h4>
  <div class="row">
    <div class="col-md-6 text-center">
      <img src="assets/MCIU_Gob_Web_AEI.jpg"
           class="logo" i18n-alt alt="Spanish Government, Ministry of Science, Innovation and Universities"/>
    </div>
    <div class="col-md-6 text-center">
      <img src="assets/logo_erdf.png"
           class="logo-bg" i18n-alt alt="European Union, European Regional Development Fund" i18n/>
    </div>
  </div>
</div>
