<h4 class="display-4">Metadata</h4>

<div class="row justify-content-between">
  <div class="col mb-3">
    <button id="addBtn" class="btn btn-primary pull-right" (click)="editField(null)" type="button">Add MetadataField </button>
  </div>
</div>

<div class="mt-2" *ngFor="let category of metadataFieldCategories">
  <h4 class="mb-3">{{category}}</h4>
  <table class="table table-bordered">
    <thead>
    <tr>
      <th>Name</th>
      <th>XML Name</th>
      <th>Type</th>
      <th>Private? <i class="fa fa-question-circle" data-toggle="tooltip" title="Private fields will not be seen by linguists"></i> </th>
      <th>Statistical? <i class="fa fa-question-circle" data-toggle="tooltip" title="Not statistical fields will not be included on statistical tables"></i></th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let metadataField of metadataFieldsByCategory.get(category)">
      <td>{{metadataField.name}}</td>
      <td>{{metadataField.xmlName}}</td>
      <td>{{metadataField.type}}</td>
      <td>{{metadataField.privateField ? 'Yes' : 'No'}}</td>
      <td>{{metadataField.includeStatistics ? 'Yes' : 'No'}}</td>
      <td>
        <i class="fa fa-pencil" style="cursor: pointer" (click)="editField(metadataField)"></i>
        <a [routerLink]="[metadataField.id, 'values']" style="color: black" data-toggle="tooltip" title="Show values"><i class="fa fa-list-alt ml-2"></i></a>
      </td>
    </tr>
    </tbody>
  </table>
</div>

